/* カードコンテナのスタイル */
.cards {
  padding: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  padding: 1em;
  border: 1px solid #ddd; /* 枠線 */
  border-radius: 8px; /* 角丸 */
  overflow: hidden; /* 枠外の内容を隠す */
  width: 240px; /* 幅 */
  height: 21rem; /* 高さ */
  margin: 10px; /* 余白 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影 */
  transition: transform 0.2s; /* ホバー時のアニメーション */
}

.cardContainer:hover {
  transform: scale(1.05); /* ホバー時に少し大きくする */
}

/* 画像ボックスのスタイル */
.imgBox {
  width: 100%; /* 幅 */
  height: 140px; /* 高さ */
  overflow: hidden; /* 枠外の内容を隠す */
}

.imgBox img {
  width: 100%; /* 画像の幅 */
  height: auto; /* 画像の高さを自動調整 */
}

/* プログラミング言語名のスタイル */
.programingName {
  padding: 8px; /* 余白 */
  background-color: #f7f7f7; /* 背景色 */
  border-bottom: 1px solid #ddd; /* 下枠線 */
}

.programingName h2 {
  margin: 0; /* 余白なし */
  font-size: 16px; /* フォントサイズ */
  color: #333; /* テキスト色 */
}

/* 説明文のスタイル */
.programingDescription {
  padding: 8px; /* 余白 */
}

.programingDescription p {
  margin: 0; /* 余白なし */
  font-size: 14px; /* フォントサイズ */
  color: #666; /* テキスト色 */
}
